<div class="spectacledcoder-navbar">
  <ul>
    <li>
      <a routerLink="">Inicio</a>
      <div class="rect"></div>
    </li>
    <li>
        <a routerLink="/champions">Campeões</a>
      <div class="rect"></div>
    </li>
    <li>
      <a routerLink="/profile">Você</a>
      <div class="rect"></div>
    </li>
    <li>
      <a routerLink="/create-profile">Cadastro</a>
      <div class="rect"></div>
    </li>
    <li>
      <a routerLink="/create-profile">TierList</a>
      <div class="rect"></div>
    </li>
    <li>
      <a routerLink="/reportar">Reportar</a>
      <div class="rect"></div>
    </li>
  </ul>

  <div class="navbar-toggler" id="toggler">
    <div class="line1" id="ln1"></div>
    <div class="line2" id="ln2"></div>
  </div>
</div>
