<div class="comments">
  <h1>Comentários</h1>
  <div class="add-comment">
    <textarea
      #comentar
      name="comentar"
      id="comentar"
      type="text"
      placeholder="Add a comment..."
      [maxLength]="250"
      rows="1"
      (input)="autoResize($event)"
    ></textarea>
    <div class="char-count">
      <span>{{ 250 - comentar.textLength }} caracteres restantes</span>
    </div>
    <button class="comment_enviar" (click)="postComment(comentar.value)">Enviar</button>
  </div>
  <div *ngFor="let comment of comments" class="comment">
    <div class="identification">
      <img
        class="icon"
        [src]="comment.autorIcon"
        [width]="50"
        alt=""
      />
      <p><strong>{{comment.autorNick}}</strong></p>
    </div>
    <p class="actions__message">{{comment.message}}</p>
    <span class="comment_report">Reportar ⚠︎</span>
  </div>
</div>
