.grid-container {
  width: 50%;
  margin: 5% auto;
  display: grid;
  grid-template-areas:
    "profile      actions"
    "about-me     about-me"
    "accounts     accounts"
    "comments     comments";
  grid-column-gap: 15em;
  justify-content: center;
  padding: 20px;
}

.app-comment{
  grid-area: comments;
}

.profile__theme{
  background-color: black;
}

.profile {
  grid-area: profile;
  display: flex;
  gap: 2em;
}
.person {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.icons {
  display: flex;
  gap: 2em;
  gap: 0.5em;
  justify-content: center;
}
.nick{
  min-width: 260px;
}
.icons img {
  border-radius: 50%;
}
.profile p {
  color: rgb(147 173 200);
}

.actions {
  display: flex;
  grid-area: actions;
  align-self: center;
  justify-content: end;
  gap: 0.5em;
}


.about-me {
  min-height: 300px;
  grid-area: about-me;
  word-break: break-all;
}

:host {
  display: block;
  color: #ffffff;
}
.profile-container {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.profile-container img {
  border-radius: 50%;
  width: 80px;
  margin-bottom: 10px;
}
.actions-container {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#actions__curtir {
  background-color: #c49c57;
}
#actions__seguir {
  background-color: #243647;
}
button {
  background-color: #333333;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}
.social-media-container {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 5px;
}

.social-media-item {
  margin-bottom: 10px;
}



.actions__message {
  line-break: anywhere;
  padding-left: 65px;
}

.char-count {
  color: rgb(147 173 200);
}
