<div class="grid-container">
  <div class="profile">
    <div class="person">
      <img
        src="{{
          icon ||
            'https://raw.communitydragon.org/latest/game/assets/ux/summonericons/profileicon29.png'
        }}"
        [width]="150"
        alt="Profile Picture"
        style="border-radius: 50%"
      />
      <div class="icons">
        <div class="social">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/X_icon_2.svg/1200px-X_icon_2.svg.png"
            width="32px"
            height="32px"
            alt=""
          />
        </div>
        <div class="social">
          <img
            src="https://static-00.iconduck.com/assets.00/youtube-icon-512x512-80maysdk.png"
            width="32px"
            height="32px"
            alt=""
          />
        </div>
        <div class="social">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3991/3991943.png"
            width="32px"
            height="32px"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="div"></div>
    <div class="text">
      <h2 class="nick" >{{ nick }}</h2>
      <p>Mono {{ campeao }}</p>
      <p>{{ elo }} {{pdl}} PDL</p>
    </div>
  </div>

  <div class="actions">
    <div class="actions-container">
      <div *ngIf="votes[0] == 0"><svg (click)="vote('upvote')" (mouseenter)="changeColor('upvote')" (mouseleave)="resetColor('upvote')" class="vote upvote" [attr.fill]="colorup" width="3em" height="3em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"/></svg></div>
      <div *ngIf="votes[0] == 1"><svg (click)="vote('upvote')" (mouseenter)="changeColor('upvote')" (mouseleave)="resetColor('upvote')" class="vote upvote" [attr.fill]="colorup" width="3em" height="3em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14z"/></svg></div>
      <div *ngIf="votes[1] == 0"><svg (click)="vote('downvote')" (mouseenter)="changeColor('downvote')" (mouseleave)="resetColor('downvote')" class="vote downvote"  [attr.fill]="colordown" width="3em" height="3em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.901 10.566A1.001 1.001 0 0 0 20 10h-4V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H4a1.001 1.001 0 0 0-.781 1.625l8 10a1 1 0 0 0 1.562 0l8-10c.24-.301.286-.712.12-1.059zM12 19.399 6.081 12H10V4h4v8h3.919L12 19.399z"/></svg></div>
      <div *ngIf="votes[1] == 1"><svg (click)="vote('downvote')" (mouseenter)="changeColor('downvote')" (mouseleave)="resetColor('downvote')" class="vote downvote"  [attr.fill]="colordown" width="3em" height="3em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.901 10.566A1.001 1.001 0 0 0 20 10h-4V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H4a1.001 1.001 0 0 0-.781 1.625l8 10a1 1 0 0 0 1.562 0l8-10c.24-.301.286-.712.12-1.059z"/></svg></div>
    </div>
    <span style="display: inline-block; width: 5px;">{{karma}}</span>
  </div>

  <div class="about-me">
    <h1>Sobre mim</h1>
    <p>
      {{ bio }}
    </p>
  </div>
</div>
