form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5% auto;
}
 
.space {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
 
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
 
label {
  color: white;
  margin-bottom: 0.5em;
}
 
input {
  background: none;
  border: none;
  color: #c9d1d9;
  font-size: 14px;
  background-color: #1d252c;
  border-radius: 15px;
  padding: 10px 0 10px 3%;
  width: 97%;
  resize: vertical;
  height: 20px;
  overflow: hidden;
  font-family: inherit;
}
 
select {
  background: none;
  border: none;
  color: #c9d1d9;
  font-size: 14px;
  background-color: #1d252c;
  border-radius: 15px;
  padding: 10px 3%;
  width: 100%;
  resize: vertical;
  font-family: inherit;
}
 
.icons {
  margin-top: 15px;
  background-color: #1d252c;
  height: 280px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 0;
  overflow-y: auto;
}
 
.item {
  display: grid;
  grid-template-columns: repeat(7, 12%);
  grid-auto-rows: minmax(140px, auto);
  justify-content: center;
  gap: 1em;
  align-items: center;
  overflow-y: auto;
}
 
@media (max-width: 1200px) {
  .item {
    grid-template-columns: repeat(4, 15%);
  }
}
 
@media (max-width: 768px) {
  .item {
    grid-template-columns: repeat(3, 24%);
  }
}
 
.item img {
  border-radius: 50%;
}
 
#bioText {
  background: none;
  border: none;
  color: #c9d1d9;
  font-size: 14px;
  background-color: #1d252c;
  border-radius: 15px;
  line-height: 130%;
  padding: 5px 1% 10px 2%;
  width: 97%;
  resize: vertical;
  text-align: left;
  min-height: 100px;
  overflow: hidden;
  font-family: inherit;
}
 
#bioText::placeholder {
  line-height: 120%;
  position: absolute;
  left: -1%;
  top: -8%;
}
 
.button {
  border: none;
  margin-top: 1em;
  border-radius: 10px;
  cursor: pointer;
}
.btn-next{
  color: #ffffff;
  padding: .5% 2%;
  background-color: #c49c57;
  transition: 0.3s;
}
.btn-next:hover{
  background-color: #caa279;
  transition: 0.3s;
}
.btn-back{
  color: #ffffff;
  padding: .5% 2%;
  background-color: #1d252c;
  transition: 0.3s;
}
.btn-back:hover{
  transition: 0.3s;
  background-color: #2d3a45;
}
.form-actions{
  display: flex;
  gap: .5em;
}
.image-icon {
  cursor: pointer;
}
 
.image-icon:hover {
  cursor: pointer;
}
 
.selected {
  outline: 2px solid #c49c57;
  box-shadow: 0 0 15px #c49c57;
}

.login-riot{
  color: white;
}
.back-riot{
  width: 100%;
  background-color: #1d252c;
  border:none;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  transition: 0.3s;
}
.back-riot:hover{
  transition: 0.3s;
  background-color: #2d3a45;
}
.riot{
  margin-top: 30px;
  width: 100%;
  background-color: #D53435;
  border:none;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  transition: 0.3s;
}
.riot:hover{
  transition: 0.3s;
  background-color: #F53C3D;
  
}
.riot-text::before {
  content:"";
  width: 15px;
  height: 15px;
  filter: invert();
  transform: translateY(2px);
  margin-right: .5em;
  display: inline-block;
  background-image: url('https://www.svgrepo.com/show/306668/riotgames.svg');
  background-size: 15px;
}